<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfastcampusstudy_android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFastCampusStudy_Android">
        <activity
            android:name=".basic.pomodoro_timer.PomodoroTimerMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.picture_frame.PhotoFrameActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".basic.picture_frame.PictureFrameMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.calculator.CalculatorMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.secret_diary.DiaryMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.secret_diary.SecretDiaryMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.BasicActivity"
            android:exported="true" />
        <activity
            android:name=".basic.lottery_number_recommendation.LotteryNumberRecommendationMainActivity"
            android:exported="true" />
        <activity
            android:name=".basic.bmi_calculator.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".basic.bmi_calculator.CalculationBmiMainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>